*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background-color: white;
}

nav{
	width: 100px;
    z-index: 888;
}

/* Menu */
.menu{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: black;
    width: 65px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px;
    overflow-y: scroll;
}

.menu::-webkit-scrollbar {
    display: none;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 50px 0 0 0px;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.iconmenu{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 0 0 0 4px;
}

.iconmenu img{
    width: 40px;
    height: 40px;
    top: 0;
}

.iconmenu span{
    font-weight: bold;
    padding: 15px;
    font-size: 10px;
    text-transform: uppercase;
}

.menufoto{
    position: relative;
    font-size: 14px;
    display: table;
    width: 300px;
    color: grey;
}

.iconmenu:visited{
    color: grey;
}

.iconmenu:hover{
    color: white;
}

.fas{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    font-size: 20px;
    text-align: center;
}

.menu-item{
    position: relative;
    margin-left: 10px;
}


nav:hover:-webkit-scrollbar {
    display: none;
}


/* Iniciar Sessão */

.seccao{
	width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.iniciarsessao{
	background: black;
    height: 45px;
    color: grey;
	margin-bottom: 0;
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textois{
    margin-top: 10px;
    font-size: 18px;
    color: grey;
}

article a{
    align-items: center;
}

article h1{
	text-align: center;
	font-size: 20px;
	margin: 10px 0;
}

/*Login*/
.imagemlogo{
    width: 10%;
}
.login{
    position: relative;
    width: 100%;
}

.login .logincaixa{
    display: fixed;
    gap: 20px;
}

.logincaixatexto{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.login .logintexto .logincaixatexto{
    width: 50%;
}

.logincaixatexto span{
    color: grey;
    margin: 10px;
    margin-bottom: 5px;
    font-size: 500;
}

.logincaixatexto input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid grey;
}

.logincaixatexto input[type="submit"]{
    background-color: Black;
    color: White;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.logincaixatexto ::placeholder{
    color: grey;
}

.criarconta{
    background-color: Black;
    color: White;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

/*CRIAR CONTA*/
.cc-h2 {
    text-align: center;
    color: #333;
}
.cc-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cc-form-group {
    margin-bottom: 20px;
}
.cc-label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
.cc-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.cc-submit {
    width: 100%;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.cc-submit:hover {
    background-color: grey;
}
.cc-login-link {
    text-align: center;
    margin-top: 15px;
}
.cc-login-link a {
    color: black;
    text-decoration: none;
}
.cc-radio-group {
    display: flex;
    justify-content: space-between;
}
.cc-radio-group input[type="radio"] {
    display: none;
}
.cc-radio-label {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}
.cc-radio-label:hover {
    background-color: #ddd;
}
.cc-radio-group input[type="radio"]:checked + .cc-radio-label {
    background-color: black;
    color: #fff;
    border-color: black;
}


/* GERAL MARGENS*/

.conteudo{
    margin-left: 100px;
    margin-bottom: 3%;
    margin-top: 1%;
    margin-right: 1%;
}


.textos{
    margin-left: 12%;
    margin-bottom: 5%;
    margin-top: 1%;
    margin-right: 5%;
}

/* Index*/

.index{
    margin-left: 70px;
    margin-bottom: 3%;
    margin-top: 5px;
    margin-right: 1%;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
}
.carousel img {
    width: auto;
    height: 600px; /* Defina a altura desejada aqui */
    max-width: 100%;
    object-fit: cover;
}
.carousel-item {
    flex: 0 0 100%; /* Garante que cada item do carrossel tenha 100% da largura */
    position: relative;
}
.carousel-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.indexorg {
    display: flex;
}

.square {
  width: 50%;
  height: 400px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  overflow: hidden; /* Garante que as imagens não ultrapassem os limites do quadrado */
  position: relative; /* Para posicionar o texto */
  font-family: designer;
}

.horadia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    font-weight: bold;
}

.horas {
    color: #777; /* Cor das horas */
}

.button {
    display: inline-block;
    background-color: black; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.button:hover {
    background-color: grey; /* Cor de fundo do botão ao passar o mouse */
}

.anunciojogoindex {
  position: absolute;
  top: 4px; /* Distância do topo */
  left: 10px; /* Distância da esquerda */
  margin: 0; /* Remove margens padrão */
  font-family: designer;
}

.square img {
    margin-top: 70px;
    max-width: 50%;
    max-height: 50%;
    vertical-align: middle; /* Alinha a imagem verticalmente */
}

.table-container {
    height: 100%; /* Ajustando a altura da tabela para ocupar 100% do quadrado */
    padding: 20px;
    text-align: left;
    overflow-y: auto; /* Adicionando rolagem vertical quando necessário */
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Bordas arredondadas */
  }

  .table-container th,
  .table-container td {
    padding: 10px; /* Espaçamento entre as células */
    background-color: white;
  }

  .table-container th {
    background-color: white;
    font-weight: bold;
  }

  .table-container tr:nth-child(even) {
    background-color: white; /* Cor de fundo alternada */
  }

  .noticias {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.boxindex {
    flex-basis: 100%;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.boxindex img {
    flex-shrink: 0;
    width: 200px; /* Largura da imagem */
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}
.box-contentindex {
    flex-grow: 1;
}
.boxindex h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.boxindex p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.maisnoticias{
    display: inline-block;
    background-color: black; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
    width: 100%;
}
    
.maisnoticias:hover {
    background-color: grey; /* Cor de fundo do botão ao passar o mouse */
}


/*Corpo Clube*/

/* Estilizando as imagens com a classe campoclube */
.campoclube {
    display: block; /* Garante que as imagens sejam exibidas como blocos */
    width: calc(33.33% - 10px); /* Define a largura das imagens como 33.33% do contêiner pai, menos a margem */
    margin: 0 5px 20px 5px; /* Adiciona margens para separar as imagens */
    border-radius: 10px; /* Adiciona uma borda arredondada às imagens */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil às imagens */
    float: left; /* Faz com que as imagens flutuem à esquerda */
}

/* Limpa a flutuação para garantir que outros elementos não sejam afetados */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo para as abas */
.tab {
    overflow: hidden;
    border-bottom: 2px solid black;
}
  
/* Estilo para os links das abas */
.tabs-container {
    display: flex;
    justify-content: center;
  }
  
  .tab {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .tab button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
    color: #555;
  }

  .tab button:hover {
    background-color: black;
    color: #fff;
  }
  
  .tab button.active {
    background-color: black;
    color: #fff;
  }
  
  /* Estilo do conteúdo da aba */
  .tabcontent {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
  }
  
  .tabcontent.active {
    display: block;
  }

  .titulo{
    margin: 2% 2% 2% 2%;
    font-size: 50px;
    font-family: designer;
    text-align: center;
}

.textoclube{
    font-size: 30px;
    font-family: designer;
}

.videoclube{
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info > div span {
    margin-right: 10px;
}

.contact-info > div a {
    color: #333; /* Cor do link */
    text-decoration: none; /* Remover sublinhado do link */
}

.contact-info > ul.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
}

.contact-info > ul.social-icons li {
    margin-right: 10px;
}

.contact-info > ul.social-icons li:last-child {
    margin-right: 0;
}

.contact-info > ul.social-icons li a {
    color: #333; /* Cor do link */
    text-decoration: none; /* Remover sublinhado do link */
}


/* Corpo escaloes*/

.equipa{
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 1%;
    margin-right: 1%;
}

.tituloequipa{
    margin: 2% 2% 2% 2%;
    font-size: 50px;
    font-family: designer;
    text-align: center;
}

.jogador{
    width: 238px;
    height: 354px;
    margin: 10px 10px 10px 10px;
    border: 0;
}

/* Corpo loja*/

.loja{
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 1%;
    margin-right: 1%;
}

.fundoloja{
    width: 100%;
}

.camisolas{
    margin-left: 2%;
    margin-top: 4%;   
}

.textoloja{
    font-size: 40px;
    text-align: center;
    font-family: designer;
    margin-bottom: 2%;
}

.camisola1, .camisola2, .camisola3 {
    width: 500px;
    height: 500px;
    float: left;
    padding: 0 20px 10px 0;
    margin-left: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.objeto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preco { 
    font-family: designer;
    color: #A4A4A4; 
}
        
.numeropreco { 
    font-family: designer;
    font-size: 20px;
    color: black; 
}

/* contacto */

.abas {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para os botões */
.button {
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: grey;
}

/* Estilos para o conteúdo */
.content {
    display: none;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*Localidade*/
.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.content span {
    margin-right: 10px;
    font-size: 24px;
}
.content p, .content a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
.content ul.sci {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.content ul.sci li {
    margin: 0 10px;
}
.content ul.sci li a {
    color: black;
    font-size: 24px;
    transition: color 0.3s;
}
.content ul.sci li a:hover {
    color: grey;
}

/*Questionario*/

.questionariocontacto {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
        
.inputBox {
    width: 100%; /* Define a largura do contêiner */
    margin-bottom: 20px;
}

.inputBox span {
    display: block;
    color: #666;
    margin-bottom: 5px;
}
        
.inputBox input, .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}
        
.inputBox input:focus, .inputBox textarea:focus {
    border-color: black;
}
        
.inputBox input[type="submit"] {
    width: 100%; /* Define a largura do botão de envio */
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
        
.inputBox input[type="submit"]:hover {
    background-color: grey;
}

/*Sócios*/ 
.socio{
    position: relative;
    width: 100%;
}

.socio .caixasocio{
    display: flex;
    gap: 20px;
}

.caixatextosocio{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.socio .texto .caixatextosocio{
    width: 100%;
}

.caixatextosocio span{
    color: grey;
    margin: 10px;
    margin-bottom: 5px;
    font-size: 500;
}

.caixatextosocio input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid grey;
}

.caixatextosocio textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid grey;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.caixatextosocio input[type="submit"]{
    background-color: Black;
    color: White;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.caixatextosocio ::placeholder{
    color: grey;
}


.tabelapreco, .linha, .coluna, .titulo{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: designer;
    border-spacing: 30px;
}

.tabelapreco{
    width: 100%;
}

.tabelatitulo{
    background-color: black;
    color: white;
    text-align: left;
}

/*Noticias*/
.main-content {
    padding: 20px;
}
.news-article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.news-title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news-content {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
.news-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/**/
.noticias {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.box {
    flex-basis: 100%;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.box img {
    flex-shrink: 0;
    width: 200px; /* Largura da imagem */
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}
.box-content {
    flex-grow: 1;
}
.box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.box p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}


/*Bilheteira*/
.wrapper {
    display: flex;
}
#calendar {
    margin-right: 20px;
    width: 40%;
}
.container {
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
.game-table {
    width: 100%;
    border-collapse: collapse;
}
.game-table th, .game-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.game-table th {
    background-color: #f2f2f2;
}
.team {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.team img {
    width: 50px; /* Tamanho maior para os logotipos das equipes */
    height: 50px; /* Tamanho maior para os logotipos das equipes */
    margin-right: 15px;
    border-radius: 50%;
}
.stadium {
    text-align: center;
    vertical-align: middle;
}

.center-container {
    text-align: center;
}

.center-container p{
    font-family: designer;
}

/* Estilo para imagens */
.image {
    display: inline-block;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
/* Estilo para o "X" no meio das imagens */
.image::after {
    content: "X";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ffffff;
}



/*Multimedia*/
.multimedia{
    width: 30%;
}

.equipa{
    justify-content: center;
}


/*Patrocinadores*/
.patrocinadores {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.titulopatrocinadores {
    text-align: center;
    color: #333;
}
.patrocinadoresparagrafo {
    line-height: 1.6;
    color: #666;
}
/* Estilos para as imagens */
.sponsor-logos {
    text-align: center;
}

.sponsor-logo {
    display: inline-block;
    max-width: 200px;
    margin: 20px auto;
}

/*Museu*/
/* Estilizando a galeria */
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilizando cada figura */
.gallery figure {
    text-align: center;
}

/* Estilizando as imagens */
.taca {
    width: 500px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando as legendas */
figcaption {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

/*Revista*/
/* Estilos para o contêiner da revista */
.revista {
    display: flex; /* Faz com que as figuras dentro do contêiner sejam exibidas em linha */
    flex-wrap: wrap; /* Permite que as figuras quebrem para a próxima linha em telas menores */
    justify-content: center; /* Centraliza as figuras horizontalmente */
    background-color: #f0f0f0; /* Cor de fundo do contêiner */
    padding: 20px; /* Espaçamento interno do contêiner */
}

/* Estilos para as figuras */
.revista figure {
    margin: 10px; /* Espaçamento entre as figuras */
    text-align: center; /* Centraliza o conteúdo das figuras */
    width: 100%; /* Define a largura das figuras para ocupar a largura total do contêiner */
    max-width: 550px; /* Define a largura máxima das figuras */
}

/* Estilos para as imagens */
.revistafoto {
    width: 100%; /* Largura das imagens ocupando toda a largura da figura */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 10px; /* Adiciona borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

/* Rodapé */

footer{
    background-color: black;
    color: white;
    height: 300px;
}

footer a:visited{
    color: grey;
}

.redessociais{
    display: block;
    text-align: center;
}

.rodape{
    display: block;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
}

.iconrs{
    width: 40px;
    height: 40px;
}

.inforodape{
    color: grey;
}

.inforodape:hover{
    color: white;
}

.direitos{
    margin-top: 150px;
    font-size: 15px;
}

.textorodape{
    text-align: center;
    margin-left: 100px;
    margin-right: 30px;
}

.redessociais a{
    color: white;
    font-size: 2em;
}